<%- include("partials/header.ejs")  %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Embarking on My Data Structures and Full Stack Learning Journey</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 pt-4">Hello, dear readers! Welcome to "DSA and Dev Days: Arun's Learning Blog." I'm thrilled to have you here with me as I embark on this exciting journey of learning data structures and full-stack development from scratch. This blog will serve as a chronicle of my daily adventures, triumphs, and challenges as I dive headfirst into the world of programming and technology.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/images/img.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Motivational image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>
